@import './base.css';

#app {
  padding: 2rem;
  font-weight: normal;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
}

.action-btn {
  background-color: var(--vt-c-orange);
  color: var(--vt-c-white);
  padding: 15px 35px;
  border: 1px solid var(--vt-c-orange);
  border-radius: 4px;
  font-size: 15px;
  cursor: pointer;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
  }

  #app {
  }
}
